async-lru==2.0.2
certifi
charset-normalizer
idna
mutagen
pyaes
pycryptodome
pyrogram
pyromod==1.5
PySocks
python-dotenv
requests
soupsieve
TgCrypto
urllib3
websockets
yt-dlp
motor
aiohttp
aiofiles
pytz
umongo==3.1.0
speedtest-cli
Flask
gunicorn
Jinja2
werkzeug
itsdangerous
